<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
        id="sk.arcgeo.mockgeolocation"
        version="1.0.2">

    <name>Mock geolocation</name>

    <engines>
        <engine name="cordova" version=">=3.4.0"/>
    </engines>

    <asset src="www/mock-geolocation.js" target="js/mock-geolocation.js"/>

    <js-module src="www/mock-geolocation.js" name="mockGeolocation">
        <clobbers target="mockGeolocation" />
    </js-module>

    <platform name="android">

        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="MockGeolocation">
                <param name="android-package" value="sk.arcgeo.plugin.MockGeolocation"/>
            </feature>
        </config-file>


        <config-file target="AndroidManifest.xml" parent="/*">
            <uses-permission android:name="android.permission.ACCESS_MOCK_LOCATION" />
        </config-file>

        <source-file src="src/android/MockGeolocation.java" target-dir="src/sk/arcgeo/plugin/"/>
        <framework src="com.android.support:support-v4:23.+" />
        <framework src="com.android.support:appcompat-v7:23.1.1" />
        <framework src="com.android.support:design:23.1.1" />
        <framework src="com.android.support:multidex:1.0.0" />
        <framework src="com.android.support:support-annotations:23.+" />
    </platform>

</plugin>